mixin image(source)
    img(src=source, id!=attributes.id, class!=attributes.class)

doctype html
html(lang='en')
head
    link(rel='stylesheet', href='style.css')

    title='Tarik Onalan'

    script(src='js/jquery-2.1.1.min.js')
    script(src='js/smooth-scroll.min.js')
body
    section#intro
        div
            svg(xmlns='http://www.w3.org/2000/svg', id='fractal')
        p#name='Tarik Onalan'
        a.icon-container.scroll(href='#about')
            +image('res/content/downarrow.svg')(class='icon')

    section#about
        p(style='position: absolute; font-size: 45; left: 50%;')='About Me:'
        p(style='position: relative; font-size: 37.5; left: 25%;')

    section#footer
        p(style='position: absolute; font-size: 30; left: 50%; top: 50%;')
            +image('res/github/github-code.svg')(id='code')
            &nbsp;with&nbsp;
            +image('res/github/github-heart.svg')(id='heart')
            &nbsp;by&nbsp;
            a(href='//github.com/QuantumPhi')='Tarik Onalan'
        +image('res/cc/cc.svg')(id='data')
        +image('res/cc/by.svg')(id='data')
        a(href='//github.com/QuantumPhi/quantumphi.github.io')
            +image('res/github/github-icon.svg')(id='data')
    script.
        var _window = $(window); var setDimensions = (function() { var obj = $('.icon-container'); obj.height(_window.height() * 0.05); obj.width(obj.height()); obj.css('border-width', _window.width() * 0.0037); }); setDimensions(); _window.resize(function() { setDimensions(); });
